<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>swift-07.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7435D6BC1E2DF3CE00B0D656</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7435D6D01E2DF3CE00B0D656</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7435D6DB1E2DF3CE00B0D656</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
