<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>swift-05.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7435D6081E2CC89300B0D656</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7435D61C1E2CC89400B0D656</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7435D6271E2CC89400B0D656</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
